@mixin section($pt: 60px, $pb: 60px) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin list($d: flex, $g: 32px, $fd: row, $fw: nowrap) {
  display: $d;
  gap: $g;
  flex-direction: $fd;
  flex-wrap: $fw;
}

@mixin item($q: 3, $g: 32px) {
  flex-basis: calc((100% - (#{$q} - 1) * #{$g}) / #{$q});
}

@mixin font($ff, $fs, $fw, $lh, $ls, $fc) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  color: $fc;
}

@mixin transition($one, $two, $three, $time, $func) {
  transition-property: $one, $two, $three;
  transition-duration: $time;
  transition-timing-function: $func;
}
