// Utils styles
@import './utils/common';
@import './utils/vars';
@import './utils/visually-hidden';

// Base styles
@import './base/fonts';
@import './base/reset';
@import './base/base-styles';
@import './base/mixins';

// Components styles
@import './components/hero-header';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';

// Modals styles
@import './components/buy-now-modal';
@import './components/ingredients-modal';
@import './components/read-more-modal';
@import './components/our-location-modal';
@import './components/franchise-modal';
