<section class="about">
  <div class="container">
    <p class="about__text-lable">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__illustration">
      <!-- <img
        class="about__img"
        srcset="
          ./images/about/img-sm@1x.jpg 1x,
          ./images/about/img-sm@2x.jpg 2x,
          ./images/about/img-md@1x.jpg 1x,
          ./images/about/img-md@2x.jpg 2x,
          ./images/about/img-lg@1x.jpg 1x,
          ./images/about/img-lg@2x.jpg 2x
        "
        src="./images/about/img-sm@1x.jpg"
        sizes="(min-width: 1200px) 490px, (min-width: 768px) 334.65px, (min-width: 480px) 278.19px, 100vw "
        alt="a grey cow on the green field eats grass"
      /> -->
    </div>
    <div class="about__subsection">
      <div class="about__paragrahp">
        <p class="about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
      </div>
      <button class="read-more__btn" type="button">
        Read more<span
          ><svg class="read-more__icon" width="12" height="12">
            <use href="./images/icon_sprite.svg#arrow-btn"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
