<section class="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts__list">
      <li class="item contacts__item">
        <div class="contacts__box">
          <strong class="contacts__subtitle">cafe</strong>
          <p class="contacts__article">Chicago</p>
          <a
            href="https://goo.gl/maps/RWndzkSGNbKJBHAV9"
            target="_blank"
            rel="noopener no referrer"
            class="contacts__link"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <ul class="list contacts__info">
          <li class="item contacts__time">
            <p class="contacts__text">Monday - Friday</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text">Saturday - Sunday</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <adress class="contacts__adress">
          <ul class="list contacts__contact">
            <li class="item contacts__communication">
              <a class="link contacts__connexion" href="tel:+610383766284"></a
              >+61(0)383 766 284
            </li>
            <li class="item contacts__communication">
              <a
                class="link contacts__connexion"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </adress>
      </li>
      <li class="item contacts__item">
        <div class="contacts__box">
          <strong class="contacts__subtitle">foodtruck</strong>
          <p class="contacts__article">Los Angeles</p>
          <a
            href="https://goo.gl/maps/mYAKfpFg3DpPXXyh7"
            target="_blank"
            rel="noopener no referrer"
            class="contacts__link"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
        <ul class="list contacts__info">
          <li class="item contacts__time">
            <p class="contacts__text">Monday - Friday</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text">Saturday - Sunday</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <adress class="contacts__adress">
          <ul class="list contacts__contact">
            <li class="item contacts__communication">
              <a class="link contacts__connexion" href="tel:+610383766284"></a
              >+61(0)383 766 284
            </li>
            <li class="item contacts__communication">
              <a
                class="link contacts__connexion"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </adress>
      </li>
      <li class="item contacts__item">
        <div class="contacts__box">
          <strong class="contacts__subtitle">cafe</strong>
          <p class="contacts__article">New York</p>
          <a
            href="https://goo.gl/maps/UR8otbWVCws1zaRZ6"
            target="_blank"
            rel="noopener no referrer"
            class="contacts__link"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
        <ul class="list contacts__info">
          <li class="item contacts__time">
            <p class="contacts__text">Monday - Friday</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text">Saturday - Sunday</p>
          </li>
          <li class="item contacts__time">
            <p class="contacts__text time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <adress class="contacts__adress">
          <ul class="list contacts__contact">
            <li class="item contacts__communication">
              <a class="link contacts__connexion" href="tel:+610383766284"></a
              >+61(0)383 766 284
            </li>
            <li class="item contacts__communication">
              <a
                class="link contacts__connexion"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </adress>
      </li>
    </ul>
    <div class="contacts__button">
      <button class="contacts__btn current__btn" type="button" data-modal-open>
        Our Locations
        <svg class="contacts__icons" width="12" height="12">
          <use href="./images/icon_sprite.svg#arrow-btn"></use>
        </svg>
      </button>
      <button class="contacts__btn" type="button" data-modal-open>
        Franchise
        <svg class="contacts__icons" width="12" height="12">
          <use href="./images/icon_sprite.svg#arrow-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
