<footer class="footer">
    <div class="container wrapper">
        <div class="footer__title">
            <p class="footer-spitch">homemade ice cream made
            </p>
            <p class="footer-spitch__part">with passion</p>
        </div>
        <div class="socials">
            <ul class="socials__list list">
                <li class="socials__item">
                    <a class="socials__link" href="https://github.com" target="blank" rel="noopener noreferrer"
                        aria-label="github">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icon_sprite.svg#github"> </use>
                        </svg>
                    </a>
                </li>
                <li class=" socials__item">
                    <a class="socials__link" href="https://telegram.org" target="blank" rel="noopener noreferrer"
                        aria-label="telegram">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icon_sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://facebook.com" target="blank" rel="noopener noreferrer"
                        aria-label="facebook">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icon_sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <p class="contact__title">Feel free to contact
                <a class="contact__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
    <div class="copiright">
        <p class="copiright__product">
            &#169; 2022 - IceCream.<span>All Rights Reserved.</span>

        </p>

    </div>

</footer>