<footer class="footer">
    <div class="container">
        <div class="footer__title">
            <h2 class="footer-spitch">homemade ice cream made<span class="footer-spitch__part">with passion</span></h2>
        </div>

        <div class="socials">
            <ul class="socials__list list">
                <li class="socials__item">
                    <a class="socials__link" href="https://github.com" target="blank" rel="noopener noreferrer"
                        aria-label="github">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icon_sprite.svg#github"> </use>
                        </svg>
                    </a>
                </li>
                <li class=" socials__item">
                    <a class="socials__link" href="https://telegram.org" target="blank" rel="noopener noreferrer"
                        aria-label="telegram">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icon_sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://facebook.com" target="blank" rel="noopener noreferrer"
                        aria-label="facebook">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icon_sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
        <div class="contact">
            <p class="contact__title">Feel free to contact</p>
            <a class="contact__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>

        <div class="footer-basement">
            <p class="footer-basement__rights">
                &#169; 2022 - IceCream.
                All Rights Reserved.
            </p>

        </div>
    </div>
</footer>