<!-- GALLERY -->
<section class="gallery container">
    <h2 hidden>Our gallery</h2>
    <div class="gallery__set">
      <img
        class="gallery__img"
        src="https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/raleigh/Andia_s_open_graph_48eaa030-e564-4f57-8cd0-522cfb0b4afc.jpg"
        alt="icecream"
        width=""
        height=""
      />
      <img
        class="gallery__img"
        src="https://res.cloudinary.com/graham-media-group/image/upload/f_auto/q_auto/c_scale,w_1920/v1/media/gmg/Z2T7NKXEWJB2BB5XIDSGU2VPWI.png?_a=ATO2BAA0"
        alt="icecream"
        width=""
        height=""
      />
      <img
        class="gallery__img"
        src="https://img.fresherslive.com/latestnews/images/articles/origin/2022/06/02/national-ice-cream-day-2022-62988c5c923b8-1654164572.jpg"
        alt="icecream"
        width=""
        height=""
      />
    </div>
  </section>