<section class="gallery">
  <div class="gallery__set container">
    <h2 hidden>Our gallery</h2>

    <picture class="gallery__picture">
      <!-- 1 -->
      <!-- Desktop screen LG  -->
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/gallery/1_d-@1x.webp 1x,
          ./images/gallery/1_d-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/gallery/1_d-@1x.jpg 1x,
          ./images/gallery/1_d-@2x.jpg 2x
        "
        type="image/jpg"
      />

      <!-- Tablet screen MD -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/1_t-@1x.webp 1x,
          ./images/gallery/1_t-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/1_t-@1x.jpg 1x,
          ./images/gallery/1_t-@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Mobile screen SM-->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/gallery/1_m-@1x.webp 1x,
          ./images/gallery/1_m-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/gallery/1_m-@1x.jpg 1x,
          ./images/gallery/1_m-@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="gallery__img"
        src="./images/gallery/1_m-@1x.jpg"
        alt="icecream photo"
        loading="lazy"
      />
    </picture>

    <picture class="gallery__picture">
      <!-- 2 -->
      <!-- Desktop screen LG  -->
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/gallery/2_d-@1x.webp 1x,
          ./images/gallery/2_d-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/gallery/2_d-@1x.jpg 1x,
          ./images/gallery/2_d-@2x.jpg 2x
        "
        type="image/jpg"
      />

      <!-- Tablet screen MD -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/2_t-@1x.webp 1x,
          ./images/gallery/2_t-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/2_t-@1x.jpg 1x,
          ./images/gallery/2_t-@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Mobile screen SM-->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/gallery/2_m-@1x.webp 1x,
          ./images/gallery/2_m-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/gallery/2_m-@1x.jpg 1x,
          ./images/gallery/2_m-@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="gallery__img"
        src="./images/gallery/2_m-@1x.jpg"
        alt="icecream photo"
        loading="lazy"
      />
    </picture>

    <picture class="gallery__picture">
      <!-- 3 -->
      <!-- Desktop screen LG  -->
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/gallery/3_d-@1x.webp 1x,
          ./images/gallery/3_d-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/gallery/3_d-@1x.jpg 1x,
          ./images/gallery/3_d-@2x.jpg 2x
        "
        type="image/jpg"
      />

      <!-- Tablet screen MD -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/3_t-@1x.webp 1x,
          ./images/gallery/3_t-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/3_t-@1x.jpg 1x,
          ./images/gallery/3_t-@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Mobile screen SM-->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/gallery/3_m-@1x.webp 1x,
          ./images/gallery/3_m-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/gallery/3_m-@1x.jpg 1x,
          ./images/gallery/3_m-@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="gallery__img"
        src="./images/gallery/3_m-@1x.jpg"
        alt="icecream photo"
        loading="lazy"
      />
    </picture>
  </div>
</section>
