<!-- hero-header -->

<header class="header" id="Home">
  <div class="container header__container">
    <div class="header-logo">
      <svg width="60" height="65">
        <use href="/src/images/icon_sprite.svg#logo"></use>
      </svg>
    </div>
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--current" href="#home"
            >Home</a
          >
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#products">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <ul class="header-buttons__list">
      <li class="header-buttons__item">
        <button
          class="header-menu__button menu-toggle js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="header-menu__burger" width="32" height="32">
            <use href="/src/images/icon_sprite.svg#menu"></use>
          </svg>
        </button>
      </li>
      <li class="header-buttons__item">
        <button class="header-modal__button" type="button" data-modal-open>
          Buy now
          <svg class="header-modal__icon" width="12" height="12">
            <use href="/src/images/icon_sprite.svg#arrow-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <!-- Mobile menu -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="mobile-menu__wrapper">
      <svg class="mobile-menu__logo" width="40.47" height="31">
        <use href="/src/images/icon_sprite.svg#logo"></use>
      </svg>
      <button class="mobile-menu-btn menu-toggle js-close-menu">
        <svg width="32" height="32">
          <use href="/src/images/icon_sprite.svg#close-modal"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#about" class="mobile-nav__link">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#about" class="mobile-nav__link">How it’s made?</a>
      </li>
      <li class="mobile-nav__item">
        <a hhref="#products" class="mobile-nav__link">Our products</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#contacts" class="mobile-nav__link">Contact</a>
      </li>
    </ul>
    <button class="btn-mobile" type="button" data-modal-open>
      Buy now
      <svg class="btn-mobile__icon" width="12" height="12">
        <use href="/src/images/icon_sprite.svg#arrow-btn"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Hero -->

<section class="hero">
  <div class="container hero__container">
    <div>
      <h1 class="hero-title">
        ice cream <br />
        made with <br />
        <span class="hero__title hero__title--end">passion</span>
      </h1>
      <div class="hero__list">
        <a href="/src/index.html" class="hero__btn-link hero__btn-link--border">
          Products</a
        >
        <a
          href="/src/index.html"
          class="hero__btn-link hero__btn-link--noborder"
        >
          How it’s made?</a
        >
      </div>
    </div>

    <ul class="hero-statistics__list">
      <li class="hero-statistics__item">
        <span class="hero-statistics__number">16</span>
        <span class="hero-statistics__text">cafes</span>
      </li>
      <li class="hero-statistics__item">
        <span class="hero-statistics__number">23</span>
        <span class="hero-statistics__text">food trucks</span>
      </li>
    </ul>
    <div class="proverb">
      <p class="proverb__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero-arrow" aria-label="about Lorem" type="button">
        <svg class="hero-arrow__icon" width="39" height="15">
          <use href="/src/images/icon_sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
    <picture class="hero__plate">
      <!-- Desktop screen -->
      <source
        media="(min-width: 1200px)"
        srcset="
          /src/images/hero/img2-lg_@1x.png 1x,
          /src/images/hero/img2-lg_@2x.png 2x
        "
        type="image/png"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          /src/images/hero/img2-md_@1x.png 1x,
          /src/images/hero/img2-md_@2x.png 2x
        "
        type="image/png"
      />

      <img
        src="/src/images/hero/img2-lg_@1x.png"
        alt="plate of ice cream"
        class="hero__img-plate"
      />
    </picture>

    <picture class="hero__ice">
      <!-- Desktop screen -->
      <source
        media="(min-width: 1200px)"
        srcset="
          /src/images/hero/img1-lg_@1x.png 1x,
          /src/images/hero/img1-lg_@2x.png 2x
        "
        type="image/png"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          /src/images/hero/img1-md_@1x.png 1x,
          /src/images/hero/img1-md_@2x.png 2x
        "
        type="image/png"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          /src/images/hero/img1-sm_@1x.png 1x,
          /src/images/hero/img1-sm_@2x.png 2x
        "
        type="image/png"
      />
      <img
        src="/src/images/hero/img1-sm_@1x.png"
        alt="ice cream cone"
        class="header__img-face"
        loading="lazy"
      />
    </picture>
  </div>
</section>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="./js/mobile-menu.js"></script>
