<!-- Hero-arrow more -->
<div class="hero-arrow-modal is-hidden" data-modal-hero-arrow>
  <div class="arrow-modal">
    <button
      type="button"
      class="arrow-modal__close-btn"
      data-modal-hero-arrow-close
    >
      <svg class="arrow-modal__close-icon" width="20" height="20">
        <use href="/src/images/icon_sprite.svg#close-modal"></use>
      </svg>
    </button>

    <form class="arrow-modal-form" autocomplete="off">
      <p class="arrow-modal-form__title">How it’s made?</p>
    </form>

    <p class="arrow-modal-form__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>

    <iframe
      class="arrow-modal-form__video"
      src="https://www.youtube-nocookie.com/embed/PMPlAT-eCuY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <!-- <lite-youtube
      class="more-modal-form__video"
      videoid="4rsLIcl7sW4"
      playlabel="Play: Keynote (Google I/O '18)"
    >
    </lite-youtube> -->
  </div>
</div>
