<div class="backdrop is-hidden" data-modal-ingredients>
    <div class="ingredients">
      <button class="close-modal-button" data-modal-ingredients-close>
        <svg class="close-modal-icon" width="16" height="16">
          <use href="/src/images/icon_sprite.svg#close-modal"></use>
        </svg>
      </button>
  
      <h2 class="ingredients__title">Ice Coffe</h2>
      <div class="ingredients__ellipse"></div>
  
      <ul class="ingredients__composition-list">
        <li class="ingredients__composition-item">
          <div class="ingredients__circle-item">
            <p>390</p>
          </div>
          kcal
        </li>
        <li class="ingredients__composition-item">
          <div class="ingredients__circle-item">
            <p>10g</p>
          </div>
          Prote...
        </li>
        <li class="ingredients__composition-item">
          <div class="ingredients__circle-item">
            <p>7g</p>
          </div>
          Fats
        </li>
        <li class="ingredients__composition-item">
          <div class="ingredients__circle-item">
            <p>33g</p>
          </div>
          Carbs
        </li>
      </ul>
  
      <h3 class="ingredients__subtitle">Ingredients</h3>
  
      <ul class="ingredients__list">
        <li class="ingredients__item">
            Vanilla ice cream 
          <span>180ml</span>
        </li>
        <li class="ingredients__item">
            Whole milk
          <span>50ml</span>
        </li>
        <li class="ingredients__item">
            Sugar
          <span>40g</span>
        </li>
        <li class="ingredients__item">
            Cinnamon
          <span>5g</span>
        </li>
        <li class="ingredients__item">
            Ancho chili powder
          <span>1g</span>
        </li>
        <li class="ingredients__item">
            Whipped cream
          <span>15g</span>
        </li>
      </ul>
  
      <div class="form__group">
        <label class="form__label">
          <input
            type="text"
            class="form__input"
            name="username"
            placeholder="Name"
            required
            pattern="[A-Za-z ]{1,30}"
          />
        </label>
        <label class="form__label">
          <input
            type="tel"
            class="form__input"
            name="userphone"
            placeholder="Phone"
            required
            pattern="[0-9+]{10,13}"
          />
        </label>
        <label class="form__label">
          <textarea
            class="form__textarea"
            name="usercomment"
            placeholder="Comment"
          ></textarea>
        </label>
      </div>
      <button class="button-submit" type="submit">Submit</button>
    </div>
  </div>
  