<div class="backdrop is-hidden" data-modal-location>
    <div class="our-locations">
        <button class="close-modal-button" data-modal-location-close>
            <svg class="close-modal-icon" width="16" height="16">
                <use href="/src/images/icon_sprite.svg#close-modal"></use>
            </svg>
        </button>
        <h2 class="our-locations__title">
            Our Locations
        </h2>
        <img class="loc-img img" srcset="
    ./images/modal/Locations/loc-md__@1x.png 448w,
    ./images/modal/Locations/loc-sm__@1x.png 224w,
    ./images/modal/Locations/loc-md__@2x.png 896w,
    ./images/modal/Locations/loc-sm__@2x.png 448w" sizes="(min-width: 768px) 448px, (min-width: 320px) 224px, 100vw"
            src="./images/modal/Locations/loc-sm__@1x.png" alt="локація" />

        <a class="button-submit" href="https://goo.gl/maps/kv2c5JZfzr4TtggD6" target="_blank"
            rel="noopener noreferrer">Open map</a></button>

    </div>
</div>