<section class="products" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__box products__card-green">
          <div class="products__circle-box products__circle-green"></div>
          <h3 class="products__subtitle">Ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilize
          </p>
          <button class="products__btn">
            <svg class="products__arrow" width="70px" height="15px">
              <use
                class="products__icon"
                href="./images/icon_sprite.svg#arrow"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box products__card-yellow">
          <div class="products__circle-box products__circle-yellow"></div>
          <h3 class="products__subtitle">Ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="products__btn">
            <svg class="products__arrow" width="70px" height="15px">
              <use
                class="products__icon"
                href="./images/icon_sprite.svg#arrow"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box products__card-red">
          <div class="products__circle-box products__circle-red"></div>
          <h3 class="products__subtitle">Milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="products__btn" type="button">
            <svg class="products__arrow" width="70px" height="15px">
              <use
                class="products__icon"
                href="./images/icon_sprite.svg#arrow"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
