.about {
  padding-top: 60px;
  padding-bottom: 42px;

  @media screen and (min-width: 768px) {
    padding-bottom: 48px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}
.about__text-lable {
  margin-bottom: 12px;
  @include font(var(--main-font), 18px, 700, 1.22, 0, var(--light-txt-cl));
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.about__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  text-transform: uppercase;
  max-width: 200px;
  text-align: center;
  @include font(
    var(--secondary-font),
    30px,
    400,
    1.26,
    0.04,
    var(--light-txt-cl)
  );

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    min-width: 454px;
    font-size: 34px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 82px;
    font-size: 36px;
  }
}

.about__illustration {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  height: 300px;

  @media screen and (min-width: 768px) {
    height: 360.53px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 39px;
    width: auto;
    height: 529px;
  }
}
.about__circle-background {
  margin: 0 auto;
  width: 278px;
  height: 278px;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;

  background-image: linear-gradient(
    0deg,
    rgba(248, 210, 78, 0.7),
    rgba(248, 210, 78, 0.7)
  );
  background-color: #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);

  @media screen and (min-width: 768px) {
    width: 335px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 500px;
    height: 500px;
  }
}

.about__img {
  display: block;
  margin: 0 auto;
  width: 278.19px;

  position: absolute;
  top: 21.82px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 768px) {
    top: 25.88px;
    width: 334.65px;
  }

  @media screen and (min-width: 1200px) {
    top: 39px;
    width: 490px;
  }
}

.about__content-box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 34px;
  }
  @media screen and (min-width: 1200px) {
    gap: 100px;
  }
}

.about__description {
  min-width: 220px;

  @media screen and (min-width: 768px) {
    max-width: 334px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 463px;
  }
}

.about__text {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  margin-bottom: 3.83px;
  @include font(var(--main-font), 12px, 400, 1.76, 0.04, var(--light-txt-cl));

  @media screen and (min-width: 768px) {
    text-align: start;
    margin-bottom: 8px;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
    font-size: 16px;
  }

  &--middle {
    line-height: 1.62;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &--lower {
    display: none;
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-bottom: 48px;
      line-height: 1.92;
      @include font(
        var(--main-font),
        12px,
        400,
        1.92,
        0.04,
        var(--light-txt-cl)
      );
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
}

.read-more__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 164px;
  height: 42px;
  background-color: var(--default-btn-cl);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  border-width: 0;
  text-align: center;
  gap: 8.83px;
  @include font(var(--main-font), 14px, 600, 1.29, 0, var(--dark-txt-cl));
  @include transition(
    background-color,
    color,
    null,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }

  &:hover {
    background-color: var(--focus-btn-cl);
  }
  &:focus {
    background-color: var(--focus-btn-cl);
    color: var(--light-txt-cl);
  }
  &:disabled {
    background-color: var(--disabled-btn-cl);
  }
}
