.byu-now {
    position: relative;

    width: 280px;

    background-color: var(--light-bg-cl);
    border: 2px solid var(--modal-main-frame);
    border-radius: 10px;

    padding: 28px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 568px;
        padding: 32px 54px;
    }
}

.byu-now__title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
    color: var(--dark-txt-cl);

    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        width: 322px;

        font-size: 20px;
        line-height: calc(28 / 20);
        margin: 0 auto 40px;
    }
}