.footer-spitch {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;

  color: var(--light-txt-cl);

  @media screen and(min-width:768px) {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;

    @media screen and(min-width:1200px) {
      font-weight: 400;
      font-size: 30px;
      line-height: 1.23;
    }
  }
}
.footer-spitch__part {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 16px;

  color: var(--light-txt-cl);

  @media screen and(min-width:768px) {
    font-size: 48px;
    line-height: 1.22;
    letter-spacing: 0.06em;
    margin-top: 9px;
  }

  @media screen and(min-width:1200px) {
    font-size: 58px;
    line-height: 1.22;
    margin-top: 14px;
  }
}

.contact__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--dark-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.contact__tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  color: var(--light-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer-basement__rights {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--copyright-txt-cl);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}

.footer__title {
  width: 234px;
  padding-bottom: 42px;

  @media screen and(min-width:768px) {
    width: 352px;
  }

  @media screen and(min-width:1200px) {
    width: 504px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--socials-bg-cl);
  border-radius: 50%;
  fill: var(--socials-default-cl);

  &:hover,
  &:focus {
    fill: var(--socials-focus-cl);
    width: 35px;
    height: 35px;
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.socials__list {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-bottom: 38px;

  @media screen and(min-width:768px) {
    margin-bottom: 32px;
  }
}

.contact {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 40px;

  @media screen and(min-width:768px) {
    margin-bottom: 56px;
  }
}

.footer-basement {
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;
  padding-bottom: 62px;

  @media screen and(min-width:768px) {
    padding-top: 14px;
    padding-bottom: 13px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 12px;
    padding-bottom: 11px;
  }
}
