.gallery {
    @include section(60px, 60px);
  
    @media screen and (min-width: 1200px) {
      padding-left: 93px;
      padding-right: 93px;
    }
    &__set {
      position: relative;
      width: 100%;
    }
  
    &__img {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
  
      border-radius: 7px;
  
      @media screen and (min-width: 768px) {
        border-radius: 18px;
      }
  
      @media screen and (min-width: 1200px) {
        border-radius: 24px;
      }
  
      opacity: 0;
      animation-name: myImgAnimation;
      animation-duration: 10s;
      animation-iteration-count: infinite;
  
      &:nth-child(1) {
        animation-delay: 0s;
      }
  
      &:nth-child(2) {
        animation-delay: 4s;
      }
  
      &:nth-child(3) {
        animation-delay: 7s;
      }
    }
  }